*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8)), url(Imagenes/homestudio.jpeg);
    background-size: cover;
 }


 h2 {
    color:rgb(230, 227, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
    text-align: center;
}


 p{
  color:rgb(230, 227, 227);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
    
}

/*HEAD*/


.contenedor-header {
    display: flex;  /* HACE QUE EL CONTENIDO DEL ENCABEZADO ESTE HORIZONTAL*/
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: linear-gradient( to right, rgba(255,255,255,0.04), rgba(255,255,255,0.02));
    backdrop-filter: blur(15px); /*Desenfoque de encabezado*/
    box-shadow: 0 2px 20px rgba(113, 159, 207, 0.2); 
    
}
.menu-toggle{
    display: none;
}

.menu-icono {
    width: 35px;
    cursor: pointer;
}

.menu-principal {
    display: none;
}

#menu:checked ~ .menu-principal {
    display: block;
}

@media (min-width: 768px){
    .menu-icono{
        display: none;
    }
    .menu-principal{
        display: block;
        
    }
}

.Logo-Titulo {
    display: flex;
    align-items: center; /*centrando logo y titulo*/

}

@media (max-width: 768px){
    .Logo-Titulo{ 
       transform: scale(0.85);
    }
    #Inicio {
        flex-direction : column;
    }
    .Video-container{
       order:2;
    }

    .quienes-somos{
      order: 1;
    }
   
    
}


.logo {
    width: 120px; /*tamaño de logo*/
    height: auto; /*proporcion de imagen*/
    margin-right: 10px; /*espacio entre logo y Titulo*/ 
    transition: 0.3s ease;
        
}
.logo:hover {
    filter: drop-shadow(0 0 8px #b8eaff);/*EFECTO QUE ILUMINA el logo al tocar con el mouse*/
}

h1{   
    font-family: "BBH Sans Bartle", sans-serif;
    font-size: 35px; 
    background: linear-gradient(to right, #d9dada, #93acd9);
    background-clip: text;/*aqui estoy diciendole que el degradado solo quiero que aparezca en la forma del texto*/
    -webkit-background-clip: text; /*este es solo para que muestre el degradado en otros navegadore tambien */
    color: transparent; 
      
}


.menu-principal ul { 
    list-style: none; /*para quitar puntos o numeros de la lista de navegacion*/
    display: flex; /*poniendo lista de navegacion horizontal*/
    gap: 30px;    /*espacio entre los enlaces*/
    padding: 0;
    margin-right: 50px;
     
}

.menu-principal a {
    font-family: 'League Spartan', Helvetica, Arial, Lucida, sans-serif;
    font-size: 20px; /*tamaño de letra*/   
    color: #c7c9ca;
    font-weight: 550; /*grosor de letras*/
    text-decoration: none;
    transition:0.3s ease;
}
.menu-principal a:hover {
    text-shadow: 0 0 8px #b8eaff; /*EFECTO QUE ILUMINA el menu al tocar*/
}



/*MAIN...*/

#Inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    max-width: 1400px;
    margin: 0 auto;   
}

.Video-container video{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
}

.Video-container{
    flex:1;
}

.quienes-somos{
    flex: 1;
}




/*productores*/

#Productores{
    margin-top: 50px;
}


.cards-productores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.Destacado{
    text-align: center;
    color: white;
    text-shadow: 0 0 15px  #b8eaff;     
}

.card-productor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}

.card-productor:hover {
    filter: drop-shadow(0 0 20px #373636);
    transform: translateY(-6px);

}


 .card-titulo{
   color:rgb(230, 227, 227);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size:50px;
   text-align: center;
   margin-bottom: 5px;
   max-width: 1400px;
   text-shadow: 0 0 5px  #b8d3ff;

 } 

#Productores img{
  width: 400px;
  height: auto;
  border-radius: 40px;
  
  
  
}

.boton-conoceme{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f31a2c;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size:20px; 
    font-weight: bold;
    color: rgb(255, 252, 252); 
    cursor: pointer; 
    text-decoration: NONE;    
    box-shadow: 0 0 15px rgba(144, 2, 56, 0.5);  
}

.boton-conoceme:hover{
    background-color: #c1142c;
    
    
}



.modal{
    
    display: none; /* Oculto al cargar la pagina */
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
   
    
    
}


.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.85)), url(Imagenes/fondo\ azul.jpg);
    background-size: contain;
    padding: 40px;
    width: 90%;
    border-radius: 15px;
    text-align: center;
    position: relative;
    width: 90%;   
    max-width: 450%;
    max-height: 90vh;
    overflow-y: auto;
    
   
}
.modal-content img{
    max-width: 350px;
    max-height: 60vh;
}

.close{
    position: absolute;
    top: 12px;
    right: 17px;
    font-size: 35px;
    cursor: pointer;
    color: aliceblue;
}


/*Contactos*/

#Contactos{
margin-top: 120px;
margin-bottom: 50px; 
    
}

.container-contactos{ 
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 50px;
}


.contacto-item img{
    width: 55px;
}

.contacto-info{
    text-align: left;

}

.contacto-item a{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color:rgb(230, 227, 227);
    background: rgba(255,255,255,0.08);
    padding: 15px 20px;
    border-radius: 12px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 12px rgba(2, 135, 135, 0.5);
    transition: 0.3s ease;

}

.contacto-item a:hover{
    transform: translateY(-6px);
    box-shadow: 0 0 30px rgba(2, 135, 135, 0.5);

}


.contacto-info p{
    font-size: 25px;
   
}







